@font-face {
  font-family: heycomic;
  src: url(../fonts/Hey_Comic/Hey_Comic.ttf) format('truetype');
}

@font-face {
  font-family: keepcheese;
  src: url(../fonts/Keep_Cheese/Keep_Cheese.ttf) format('truetype');
}

@font-face {
  font-family: comictans;
  src: url(../fonts/ComicTans/ComicTans.ttf) format('truetype');
}
